// variables, fonts, mixins, helpers... common styles used across the entire site
@import 'base/fonts';
@import 'base/variables';

body#tinymce.wp-editor {
  font-family: $font-family-base;
}

.video-wrap {
  position: relative;
  padding-bottom: 55%; /* 16:9 */
  height: 0;
  overflow: hidden;
  margin-top: 10px;
  iframe {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}