@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,700i,&amp;subset=cyrillic');

@font-face {
  font-family: 'icomoon';
  src:  url('/wp-content/themes/geo-sites/assets/fonts/icomoon.eot?lsvj6x');
  src:  url('/wp-content/themes/geo-sites/assets/fonts/icomoon.eot?lsvj6x#iefix') format('embedded-opentype'),
  url('/wp-content/themes/geo-sites/assets/fonts/icomoon.ttf?lsvj6x') format('truetype'),
  url('/wp-content/themes/geo-sites/assets/fonts/icomoon.woff?lsvj6x') format('woff'),
  url('/wp-content/themes/geo-sites/assets/fonts/icomoon.svg?lsvj6x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\f061";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-arrow-circle-right:before {
  content: "\f0a9";
}
.icon-success:before {
  content: "\e900";
}
.icon-log-in:before {
  content: "\e901";
}
.icon-log-out:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-register:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e907";
}
.icon-error:before {
  content: "\e905";
}
