body {
  font: $font-size-small $font-family-base;

  @include media-breakpoint-up(sm) {
    font-size: $font-size-base;
  }
}

.main {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @include media-breakpoint-up(lg) {
    width: calc(100% - 356px);
    padding-left: 15px;
    padding-right: 40px;
  }
}

.aside {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @include media-breakpoint-up(lg) {
    width: 356px;
    padding-left: 40px;
    padding-right: 15px;
    border-left: 1px solid $color-light-grey;
  }
}

img {
  max-width: 100%;
  height: auto;
}

// Section title
.section-title {
  position: relative;
  margin-bottom: 50px;
  font: 300 $font-size-title $font-family-title;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;

  @include media-breakpoint-up(sm) {
    font-size: $font-size-header;
  }

  span {
    padding: 0 20px;
    background-color: $color-white;
    z-index: 2;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-light-grey;
    z-index: -1;
  }
}

//Item
.item {
  margin-bottom: 40px;

  .img-wrap {
    display: block;
    margin-bottom: 30px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .item-title {
    margin-bottom: 20px;
    font: 600 $font-size-large $font-family-title;
    text-transform: uppercase;
    text-align: center;

    @include media-breakpoint-up(sm) {
      font-size: $font-size-large;
    }

    a {
      color: inherit;
    }
  }

  .excerpt {
    line-height: 1.5;
    color: $text-color;
    padding-bottom: 10px;
    border-bottom: 1px dashed $color-light-grey;

    p {
      margin-bottom: 20px;
    }

    strong {
      font-weight: 400;
    }

    a {
      color: $color-primary;
      text-decoration: underline;
    }
  }
}

.date-block {
  color: #999999;
  font: italic $font-size-small $font-family-title;

  .feather {
    width: 13px;
    height: 13px;
  }
}

.post-block {
  .excerpt {
    margin-bottom: 15px;
  }
}

// Categoties
.categories-block {
  margin-bottom: 20px;
  text-align: center;
}

span.categories {
  position: relative;
  padding: 0 20px;
  color: $color-primary;
  font: italic $font-size-small $font-family-title;

  &:after,
  &:before {
    position: absolute;
    top: 50%;
    left: 100%;
    content: "";
    height: 1px;
    width: 60px;
    background-color: $color-primary;

  }

  &:before {
    left: auto;
    right: 100%;
  }
}

.tags-block {
  .tag {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: $color-white;
    font-size: $font-size-small;
    color: $color-grey-light;
    text-transform: uppercase;
    border: 1px solid $color-primary;
    transition: all .2s ease;

    &:hover {
      text-decoration: none;
      background-color: $color-primary;
      color: $color-white;
    }
  }
}

// Buttons
.align-center {
  text-align: center;
}

.btn {
  display: inline-block;
  margin-bottom: 50px;
  padding: 15px 35px;
  color: $color-grey-light;
  font: 300 $font-size-small $font-family-title;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  border: 1px solid $color-primary;
  cursor: pointer;
  transition: all .2s ease;

  &:hover {
    text-decoration: none;
    background-color: $color-primary;
    color: $color-white;
  }

  &.small {
    padding: 10px 25px;
  }
}

.pagination {
  text-align: center;

  .page-numbers {
    display: inline-block;
    padding: 5px 10px;
  }

  a.page-numbers {
    font-size: $font-size-small;
    font-weight: 400;
    color: $color-grey-light;
    border: 1px solid $color-primary;
    transition: all .2s ease;

    &:hover {
      color: $color-white;
      text-decoration: none;
      background-color: $color-primary;
    }
  }

  span.current {
    border: 1px solid $color-primary;
    background-color: $color-primary;
    color: $color-white;
  }
}

.spinner-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background-color: rgba($color-secondary, .5);;
}

.spinner {
  width: 80px;
  height: 80px;

  position: relative;
  margin: calc(50vh - 40px) auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $color-white;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}