// Colors
$color-black:                 #000000;
$color-white:                 #ffffff;
$color-light-grey:            #eaeaea;
$color-grey-light:            #636363;
$color-grey:                  #343434;
$color-primary:               #C51230;
$color-secondary:             #012D6C;
$color-error:                 #BD4745;
$color-success:               #78C46B;

$text-color:                  $color-grey;

// Fonts
$font-family-title:           'Open Sans', sans-serif;
$font-family-base:            'Open Sans', sans-serif;

// Font sizes
$font-size-header:            30px;
$font-size-title:             24px;
$font-size-large:             18px;
$font-size-base:              14px;
$font-size-small:             14px;