.advertise-aside,
.advertise-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.advertise-content {
  &.size-728x90 {
    display: none;
  }

  @include media-breakpoint-up(md) {
    &.size-300x250 {
      display: none;
    }

    &.size-728x90 {
      display: flex;
    }
  }
}