.aside {
  .city-title {
    font: 700 $font-size-large $font-family-title;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
  }

  .title {
    position: relative;
    font: 300 $font-size-small $font-family-title;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;

    span {
      padding: 0 15px;
      background-color: $color-white;
    }

    &:after {
      position: absolute;
      top: 50%;
      left: 0;
      content: "";
      height: 1px;
      width: 100%;
      background-color: $color-light-grey;
      z-index: -1;
    }
  }

  .link-list,
  .menu-home-menu-container,
  .menu-home-aside-menu-container {
    margin-bottom: 30px;

    li {
      padding: 8px 0;
      border-bottom: 1px dashed $color-light-grey;
      font: 600 $font-size-small $font-family-title;

      &.current-menu-item a {
        color: $color-primary;
      }

      a {
        color: $text-color;
      }
    }
  }
}