.max-jquery-ui {
  padding: 0 !important;
  margin-bottom: 30px !important;

  * {
    font-family: $font-family-base !important;
  }

  .top-nav {
    border-bottom-color: $color-primary !important;
  }

  .nav-item {
    font-weight: 600 !important;
    transition: all .2s ease !important;

    &:hover {
      background-color: $color-primary !important;
      color: $color-white !important;
    }

    &.selected {
      background-color: $color-primary !important;
      text-shadow: none !important;
    }
  }

  .form {
    padding: 15px !important;
  }

  .field-group {
    flex-flow: row wrap;
  }

  .field {
    flex: 0 0 100% !important;
    margin-left: 0 !important;

    @include media-breakpoint-up(md) {
      flex: 0 0 30% !important;
      margin-left: 20px !important;

      &:first-child {
        margin-left: 0 !important;
      }

      &.auto-width {
        flex: 0 0 auto !important;
      }

      &.half-width {
        flex: 0 0 50% !important;
      }
    }
  }

  .form-input {
    box-shadow: none !important;
    border: 1px solid darken($color-light-grey, 20%) !important;

    &:focus {
      border: 1px solid $color-primary !important;
    }
  }

  .btn {
    height: auto !important;
    margin-bottom: 0 !important;
    padding: 15px 35px !important;
    font: 600 $font-size-small $font-family-title !important;
    text-transform: uppercase !important;
    letter-spacing: 1.4px !important;
    transition: all .2s ease !important;
    text-shadow: none !important;
    box-shadow: none !important;
    background-color: $color-primary !important;
    border: 1px solid $color-primary !important;
    color: $color-white !important;

    &:hover,
    &:focus {
      text-decoration: none !important;
      background-color: $color-white !important;
      color: $color-grey-light !important;
      outline: 0 !important;
      transform: none !important;
    }
  }
}


.widget-aside {
  .max-jquery-ui {
    .field {
      @include media-breakpoint-up(md) {
        flex: 0 0 100% !important;
        margin-left: 0 !important;
      }
    }
  }
}