.city-guide-map {
  width: 100%;
  height: 600px;
}

.map-marker-label {
  position: absolute;
  font-size: 12px;
  line-height: 1.15;
  font-weight: 700;
  transform: translate(-50%,0);
  max-width: 180px;
  display: inline-block;
  text-align: center;
}