.content {
  margin-bottom: 15px;
  padding-bottom: 40px;
  border-bottom: 1px dashed $color-light-grey;

  .page-title {
    margin-bottom: 40px;
    font: 300 $font-size-title $font-family-title;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    text-align: center;
    color: $color-black;
  }

  .img-wrap {
    margin-bottom: 40px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .excerpt,
  .content-text {
    font-size: $font-size-base;
    line-height: 1.8;

    a {
      text-decoration: underline;
      color: $color-primary;
    }

    p, ul, ol, img {
      margin-bottom: 15px;
    }

    br {
      display: none;
    }

    img {
      font-size: 0;
      display: inline-block;
      max-width: 100%;
      height: auto;
      margin: 5px;
      cursor: pointer;

      &.aligncenter {
        display: block;
        margin: 5px auto;
      }
    }

    p, li {
      font-size: 14px;
    }

    li {
      margin-left: 30px;
      padding-left: 10px;
    }

    ul > li {
      list-style-type: disc;
    }

    ol > li {
      list-style-type: decimal;
    }

    strong {
      font-weight: 700;
    }

    em {
      font-style: italic;
    }

    h1 {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.25;
      margin-top: 40px;
      margin-bottom: 40px;

      @include media-breakpoint-up(md) {
        font-size: 30px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 36px;
      }
    }

    h2 {
      font-size: 22px;
      font-weight: 700;
      line-height: 1.25;
      margin-top: 40px;
      margin-bottom: 40px;

      @include media-breakpoint-up(md) {
        font-size: 26px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 30px;
      }
    }

    h3 {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.25;
      margin-top: 40px;
      margin-bottom: 40px;

      @include media-breakpoint-up(md) {
        font-size: 24px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 27px;
      }
    }

    h4 {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.33;
      margin-top: 20px;
      margin-bottom: 20px;

      @include media-breakpoint-up(md) {
        font-size: 20px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 24px;
      }
    }

    h5 {
      font-size: 15px;
      font-weight: 400;
      line-height: 1.33;
      color: $color-grey-light;
      margin-top: 20px;
      margin-bottom: 20px;

      @include media-breakpoint-up(md) {
        font-size: 16px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 18px;
      }
    }

    h6 {
      font-size: 15px;
      font-weight: 300;
      line-height: 1.43;
      color: $color-grey-light;
      font-style: italic;
      margin-top: 20px;
      margin-bottom: 20px;

      @include media-breakpoint-up(md) {
        font-size: 16px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 18px;
      }
    }

    a {
      text-decoration: underline;
    }

    blockquote {
      font-style: italic;
      line-height: 1.5;
      color: $color-grey-light;
    }

    table {
      width: 100% !important;
      font-size: 10px;
      border: 1px solid #d1d1d1;
      margin-bottom: 1rem;

      @include media-breakpoint-up(xl) {
        font-size: 11px;
      }

      @include media-breakpoint-up(md) {
        font-size: 12px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 13px;
      }
    }

    th {
      border: 1px solid #d1d1d1;
      padding: 5px !important;
      font-weight: 700;
      background-color: #eee;
    }

    td {
      border: 1px solid #d1d1d1;
      padding: 5px !important;
    }

    tr {
      border: 1px solid #d1d1d1;
    }

    tr:nth-child(odd) {
      background-color: #fff;
    }

    tr:nth-child(even) {
      background-color: #eee;
    }
  }

  .tags-block {
    margin-bottom: 15px;
  }
}

.post-footer {
  margin-bottom: 60px;
}
