.error-page {
  .error-code {
    font-size: 80px;
    font-weight: 700;
    color: $color-secondary;
    line-height: 1;

    @include media-breakpoint-up(md) {
      font-size: 120px;
    }
  }

  .error-title {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 40px;

    @include media-breakpoint-up(md) {
      font-size: 60px;
    }
  }

  .error-description {
    font-size: 18px;
    margin-bottom: 20vh;

    @include media-breakpoint-up(md) {
      font-size: 24px;
    }
  }
}