.after-footer {
  display: flex;
  height: calc(100vw / 3);
  width: 100%;
  margin-top: 50px;

  .img-wrap {
    height: 100%;
    display: none;
    width: calc(100% / 3);
  }

  @include media-breakpoint-up(xs) {
    .visible-xs {
      display: block;
    }
  }

  @include media-breakpoint-up(sm) {
    height: calc(100vw / 4);
    .visible-sm {
      display: block;
    }

    .img-wrap {
      width: calc(100% / 4);
    }
  }

  @include media-breakpoint-up(md) {
    height: calc(100vw / 5);
    .visible-md {
      display: block;
    }

    .img-wrap {
      width: calc(100% / 5);
    }
  }

  @include media-breakpoint-up(lg) {
    height: calc(100vw / 6);
    .visible-lg {
      display: block;
    }

    .img-wrap {
      width: calc(100% / 6);
    }
  }
}

.footer {
  padding: 30px 0;
  background-color: $color-secondary;
  color: $color-white;

  .top-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .navbar-nav {
    margin: 0;

    li {
      display: inline-block;
      font: 300 12px $font-family-base;
      letter-spacing: 1.2px;

      &:after {
        content: "|";
        margin: 0 5px;
      }
      &:last-child {
        &:after {
          content: "";
        }
      }
    }

    a {
      color: $color-white;
    }
  }

  .logo {
    display: inline-block;
    color: $color-white;
    font: $font-size-small $font-family-title;
    text-transform: uppercase;
    letter-spacing: 1.4px;
  }

  .copyright {
    color: #dddddd;
    font: 300 11px $font-family-base;
    letter-spacing: 1.1px;
  }
}