.gform_wrapper {
  margin-top: 30px;
  margin-bottom: 30px;

  li {
    list-style-type: none !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  .validation_error {
    color: $color-error;
    margin-bottom: 15px;
    font-size: 18px;
  }

  .gfield_label {
    font-weight: 700;
    margin-bottom: 5px;
  }

  .gfield_error {
    select,
    input[type="text"],
    input[type="email"],
    textarea {
      border: 1px solid $color-error;
    }

    .validation_message {
      display: none;
    }
  }

  select,
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 15px 8px;
    background-color: #ffffff;
    border: 1px solid $color-grey;
    font-size: 14px;
    font-weight: 400;
    color: $color-grey;
    margin-bottom: 15px;

    &::-webkit-input-placeholder {
      color: $color-grey;
    }

    &:-moz-placeholder {
      color: $color-grey;
      opacity: 1;
    }

    &::-moz-placeholder {
      color: $color-grey;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: $color-grey;
    }

    &:focus::-webkit-input-placeholder {
      color: transparent;
    }

    &:focus::-moz-placeholder {
      color: transparent;
    }

    &:focus:-ms-input-placeholder {
      color: transparent;
    }

    &.error {
      border: 1px solid $color-error;
    }

    &:focus {
      border: 1px solid $color-primary;
    }
  }

  .gform_button {
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    background-color: $color-primary;
    color: $color-white;
    font: 700 $font-size-small $font-family-title;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    border: 1px solid $color-primary;
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
      background-color: $color-white;
      color: $color-primary;
    }

    &:focus {
      outline: none;
    }

    &[disabled] {
      background-color: rgba($color-grey-light, .07);
      color: rgba($color-grey-light, .4);
      border-color: rgba($color-grey-light, .4);
      cursor: not-allowed;
    }
  }

  .gform_ajax_spinner {
    display: none;
  }

}

.gform_confirmation_wrapper {
  text-align: center;
  padding: 100px 0 100px 0;

  .icon-success {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 60px;
    color: $color-success;
  }

  .text {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: $color-success;
    margin-bottom: 0;
  }
}