header {
  margin-bottom: 50px;

  .login-wrapper {
    padding: 5px 0;
    background-color: $color-secondary;
    color: $white;
    font-size: 13px;

    .button {
      display: inline-flex;
      align-items: center;
      padding-right: 10px;
      text-decoration: none;
      color: $white;

      i {
        padding-right: 5px;
        font-size: 15px;
      }
    }

    .social-links {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .caption {
        display: none;
        padding-right: 10px;

        @include media-breakpoint-up(sm) {
          display: inline-block;
        }
      }

      .social-button {
        font-size: 16px;
        margin: 0 6px;
        text-decoration: none;
        color: $white;
      }
    }
  }

  .hero .parallax {
    background-color: lighten($color-secondary,30%);
  }

  .hero.parallax-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;

    .hero-logo {
      display: block;
      width: 80%;

      @include media-breakpoint-up(md) {
        width: 350px;
      }
    }
  }

  nav {
    position: relative;
    background-color: $color-secondary;
    color: $color-white;

    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .btn-menu,
    .btn-search {
      cursor: pointer;
      width: 18px;
      height: 18px;
      font-size: 18px;
    }

    .btn-menu {
      display: block;
      margin: 20px 0;

      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }
  .menu-top-menu-container{
    width: calc(100% - 360px);
  }
  .menu-header-menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 4;
    background-color: $color-secondary;

    @include media-breakpoint-up(lg) {
      display: block;
      position: static;
      width: auto;
    }

    &.active {
      display: block;
    }
  }

  .navbar-nav {
    margin-bottom: 0;
    padding: 15px 20px;
    font-size: 300 $font-size-small $font-family-base;
    text-transform: capitalize;
    align-items: center;
    .menu-item {
      margin-bottom: 10px;
      flex-grow: 1;
      padding-right: 10px!important;

      &.current-menu-item {
        font-weight: 700;
      }

      a {
        color: inherit;
      }

      @include media-breakpoint-up(lg) {
        margin: 0;
        padding: 20px 10px 20px 0;
        font-size: 12px;
      }

      @include media-breakpoint-up(xl) {
        padding: 20px 20px 20px 0;
        font-size: 13px;
      }

      @include media-breakpoint-up(xxl) {
        font-size: 15px;
      }
    }

    .dropdown {
      position: relative;

      .sub-menu {
        padding: 5px 0 5px 20px;
        width: 100%;
        background-color: $color-secondary;

        @include media-breakpoint-up(lg) {
          display: none;
          position: absolute;
          top: 100%;
          min-width: 200px;
          padding: 5px 10px;
        }

        .menu-item {
          font-weight: 400;
          padding: 5px 0;
          margin: 0;

          &.current-menu-item {
            font-weight: 700;
          }
        }
      }

      &:hover {
        .sub-menu {
          @include media-breakpoint-up(lg) {
            display: block;
          }
        }
      }
    }

    @include media-breakpoint-up(sm) {
      width: 540px;
      margin: 0 auto;
    }

    @include media-breakpoint-up(md) {
      width: 730px;
      margin: 0 auto;
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-wrap: wrap;
      width: auto;
      padding: 0;
    }
  }

  .search-form {
    min-width: 240px;
    position: relative;

    @include media-breakpoint-up(sm) {
      min-width: 300px;
    }

    @include media-breakpoint-up(xxl) {
      min-width: 400px;
    }

    input {
      display: block;
      background-color: transparent;
      border: 1px solid $color-white;
      padding: 4px 8px;
      font-size: 14px;
      height: 36px;
      width: 100%;
      color: $color-white;

      text-transform: uppercase;

      &::-webkit-input-placeholder {
        color: $color-white;
      }

      &:-moz-placeholder {
        color: $color-white;
        opacity: 1;
      }

      &::-moz-placeholder {
        color: $color-white;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: $color-white;
      }

      &:focus::-webkit-input-placeholder {
        color: transparent;
      }

      &:focus::-moz-placeholder {
        color: transparent;
      }

      &:focus:-ms-input-placeholder {
        color: transparent;
      }
    }

    .submit-search {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0 8px;
      background-color: transparent;
      color: $color-white;
      border: none;
      cursor: pointer;
      height: 36px;

      &:focus {
        outline:0;
      }
    }
  }
}