body {
  color: $color-white;

  &.login {
    background-color: $color-secondary;

    h1 a {
      background-image: url('assets/img/logo.svg');
      background-size: contain;
      width: 320px;
      height: 70px;
    }

    form {
      background-color: rgba($color-white,.1);

      .input,
      input[type=text] {
        background: rgba($color-white,.9);
        color: $color-black;
        border: 1px solid rgba($color-white,.5);
      }
    }

    label {
      color: $color-white;
    }

    #backtoblog,
    #nav {
      a {
        color: $color-white;

        &:focus {
          color: #00a0d2;
          outline: none;
          box-shadow: none;
        }
      }
    }

    #login_error,
    .message,
    .success {
      background-color: rgba($color-white,.2);
    }

    .button-primary {
      border-radius: 0;
      text-decoration: none;
      text-shadow: none;
      box-shadow: none;
      border: none;

      &:focus,
      &:active {
        text-shadow: none;
        box-shadow: none;
        border: none;
      }

    }
  }
}