.latest-news {
  .advertise-content {
    margin-top: 0;
  }
}

.news-top {
  padding-bottom: 30px;
  margin-bottom: 30px;

  .news-wrapper {
    align-items: center;
  }

  &:after {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    left: 15px;
    bottom: 0;
    border-bottom: 1px dashed $color-light-grey;
  }

  .thumbnail {
    display: block;
    background-size: cover;
    background-position: center;
    height: 240px;
    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      height: 350px;
    }

    @include media-breakpoint-up(lg) {
      height: 270px;
    }

    @include media-breakpoint-up(xl) {
      height: 350px;
      margin-bottom: 0;
    }

    @include media-breakpoint-up(xxl) {
      height: 330px;
    }
  }

  .title {
    margin-bottom: 20px;
    font: 700 21px $font-family-title;
    line-height: 1.2;

    @include media-breakpoint-up(xxl) {
      font-size: 21px;
    }

    a {
      color: inherit;
    }
  }

  .excerpt {
    font-size: 14px;
    line-height: 1.5;

    @include media-breakpoint-up(xxl) {
      font-size: 15px;
    }
  }

  .date-block {
    color: #999999;
    font: italic $font-size-small $font-family-title;
    margin-bottom: 1rem;
  }

  .read-more {
    position: relative;
    text-align: right;
    font-weight: 700;
    color: $color-primary;

    @include media-breakpoint-up(xxl) {
      font-size: 18px;
    }

    &:after {
      position: absolute;
      top: 3px;
      left: calc(100% + 10px);
      display: inline-block;
      font-family: 'icomoon';
      content: '\f0a9';
    }
  }
}

.news-item {
  margin-bottom: 30px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    left: 15px;
    bottom: 0;
    border-bottom: 1px dashed $color-light-grey;
  }

  .thumbnail {
    display: block;
    background-size: cover;
    background-position: center;
    height: 240px;
    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      height: 350px;
    }

    @include media-breakpoint-up(lg) {
      height: 270px;
    }

    @include media-breakpoint-up(xl) {
      height: 200px;
    }

    @include media-breakpoint-up(xxl) {
      height: 240px;
    }
  }

  .title {
    margin-bottom: 20px;
    font: 700 18px $font-family-title;
    line-height: 1.2;

    a {
      color: inherit;
    }
  }

  .date-block {
    margin-bottom: 1rem;
  }
}