.cookie-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: lighten($color-black, 10%);
  color: $white;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 900;

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .description {
    margin: 0;
    padding-right: 20px;
    font-size: 13px;

    @include media-breakpoint-up(md) {
      font-size: 14px;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 16px;
    }
  }

  a {
    color: $color-primary;
    text-decoration: underline;
    transition: all .2s ease;

    &:hover {
      color: $white;
    }
  }

  .accept {
    margin: 0;
    border-color: $color-primary;
    background-color: $color-primary;
    color: $color-white;
    padding: 10px 15px;
    min-width: 100px;
    text-align: center;

    @include media-breakpoint-up(md) {
      padding: 15px 35px;
      min-width: 140px;
    }

    &:hover {
      background-color: $color-white;
      border-color: $color-white;
      color: darken($color-secondary, 10%);
    }
  }
}

.support-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: lighten($color-black, 10%);
  color: $white;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1000;

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .description {
    margin: 0;
    padding-right: 20px;
    font-size: 13px;

    @include media-breakpoint-up(md) {
      font-size: 14px;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 16px;
    }

    h5 {
      font-weight: 700;
      font-size: 18px;
    }

    p {
      margin: 0
    }
  }

  a {
    color: $color-primary;
    text-decoration: underline;
    transition: all .2s ease;

    &:hover {
      color: $white;
    }
  }

  .btn {
    //border-color: $color-primary;
    //background-color: $color-primary;
    color: $color-white;
    padding: 10px 15px;
    margin: 10px 5px;
    min-width: 100px;
    text-align: center;

    @include media-breakpoint-up(xl) {
      padding: 15px 35px;
      min-width: 140px;
    }

    &:hover {
      background-color: $color-primary;
      border-color: $color-primary;
      color: darken($color-secondary, 10%);
    }
  }
}