.wrapper.latest-reports,
.aside .latest-reports {
  padding-bottom: 20px;

  .title {
    text-transform: none;
    text-align: left;
    color: $color-black;
    margin-bottom: .5rem;
    font: 700 30px $font-family-title;
    line-height: 1.2;

    &:after {
      display: none;
    }
  }

  .description {
    font-style: italic;
    font-size: 13px;
    margin-bottom: 1.5rem;
  }

  .report {
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      border-bottom: 1px dashed #eaeaea;
    }

    .title {
      text-transform: none;
      text-align: left;
      color: $color-black;
      margin-bottom: .5rem;
      font: 700 17px $font-family-title;
      line-height: 1.2;

      &:after {
        display: none;
      }

      a {
        color: inherit;
      }
    }

    .date-block {
      color: #999999;
      font: italic $font-size-small $font-family-title;
      margin-bottom: .5rem;
    }

    .excerpt {
      font-size: 14px;
      line-height: 1.5;
      p {
        margin-bottom: 0;
      }
    }
  }
}

.wrapper.latest-reports {
  .description {
    font-style: italic;
    font-size: 16px;
    margin-bottom: 1.5rem;
  }

  .report {
    padding-left: 15px;
    padding-right: 15px;

    .title {
      text-transform: none;
      text-align: left;
      color: $color-black;
      margin-bottom: .5rem;
      font: 700 18px $font-family-title;
      line-height: 1.2;

      &:after {
        display: none;
      }

      a {
        color: inherit;
      }
    }

    .date-block {
      color: #999999;
      font: italic $font-size-small $font-family-title;
      margin-bottom: .5rem;
    }

    .excerpt {
      font-size: 16px;
      line-height: 1.5;
      p {
        margin-bottom: 0;
      }
    }
  }
}