.news-content {
  .title {
    font-weight: 700;
    font-size: 24px;
    color: $color-black;
    margin-bottom: 30px;
    line-height: 1.2;

    @include media-breakpoint-up(md) {
      font-size: 30px;
    }
  }

  .authors {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 1rem;

    span {
      &:after {
        content: ', ';
      }
      &:last-child:after {
        content: '';
      }
    }
  }

  .date-block {
    font-size: 18px;
    color: #999999;
    font: italic $font-size-small $font-family-title;
    margin-bottom: 1rem;

    @include media-breakpoint-up(sm) {
      text-align: right;
    }
  }

  .source {
    font-style: italic;
    margin-bottom: 20px;

    a {
      color: $color-primary;
      font-weight: 700;
    }
  }

  .thumbnail-wrap {
    margin-bottom: 30px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .caption {
      padding-top: 10px;
      color: #999999;
      font-size: 12px;
      text-align: center;
      margin-bottom: 0;
    }
  }

  .excerpt {
    font-style: italic;
    margin-bottom: 1rem;
    font-size: $font-size-base;
    line-height: 1.8;
  }

  .content-text {
    a {
      text-decoration: underline;
      color: $color-primary;
    }

    img {
      font-size: 0;
      display: inline-block;
      max-width: 100%;
      height: auto;
      margin: 5px;

      &.aligncenter {
        display: block;
        margin: 5px auto;
      }
    }

    .wp-caption {
      width: 100% !important;
    }

    .wp-caption-text {
      padding-top: 10px;
      color: #999999;
      font-size: 12px;
      text-align: center;
      margin-bottom: 1rem;
    }

    p, li {
      font-size: $font-size-small;
      line-height: 1.8;

      @include media-breakpoint-up(md) {
        font-size: $font-size-base;
      }
    }

    li {
      margin-left: 30px;
      padding-left: 10px;
    }

    ul > li {
      list-style-type: disc;
    }

    ol > li {
      list-style-type: decimal;
    }

    strong {
      font-weight: 700;
    }

    em {
      font-style: italic;
    }

    h1 {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.25;
      margin-bottom: 40px;

      @media only screen and (min-width: map-get($grid-breakpoints, md)) {
        font-size: 30px;
      }

      @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
        font-size: 36px;
      }

      @media only screen and (min-width: map-get($grid-breakpoints, xxl)) {
        font-size: 40px;
      }
    }

    h2 {
      font-size: 22px;
      font-weight: 700;
      line-height: 1.25;
      margin-bottom: 40px;

      @media only screen and (min-width: map-get($grid-breakpoints, md)) {
        font-size: 26px;
      }

      @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
        font-size: 30px;
      }

      @media only screen and (min-width: map-get($grid-breakpoints, xxl)) {
        font-size: 34px;
      }
    }

    h3 {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.25;
      margin-bottom: 40px;

      @media only screen and (min-width: map-get($grid-breakpoints, md)) {
        font-size: 24px;
      }

      @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
        font-size: 27px;
      }

      @media only screen and (min-width: map-get($grid-breakpoints, xxl)) {
        font-size: 30px;
      }
    }

    h4 {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.33;
      margin-bottom: 20px;

      @media only screen and (min-width: map-get($grid-breakpoints, md)) {
        font-size: 20px;
      }

      @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
        font-size: 24px;
      }

      @media only screen and (min-width: map-get($grid-breakpoints, xxl)) {
        font-size: 27px;
      }
    }

    h5 {
      font-size: 15px;
      font-weight: 400;
      line-height: 1.33;
      color: $color-grey-light;
      margin-bottom: 20px;

      @media only screen and (min-width: map-get($grid-breakpoints, md)) {
        font-size: 16px;
      }

      @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
        font-size: 18px;
      }

      @media only screen and (min-width: map-get($grid-breakpoints, xxl)) {
        font-size: 22px;
      }
    }

    h6 {
      font-size: 15px;
      font-weight: 300;
      line-height: 1.43;
      color: $color-grey-light;
      font-style: italic;
      margin-bottom: 20px;

      @media only screen and (min-width: map-get($grid-breakpoints, md)) {
        font-size: 16px;
      }

      @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
        font-size: 18px;
      }

      @media only screen and (min-width: map-get($grid-breakpoints, xxl)) {
        font-size: 22px;
      }
    }

    a {
      text-decoration: underline;
    }

    blockquote {
      font-style: italic;
      line-height: 1.5;
      color: $color-grey-light;
    }

    table {
      width: 100% !important;
      font-size: 10px;
      border: 1px solid #d1d1d1;
      margin-bottom: 1rem;

      @media only screen and (min-width: map-get($grid-breakpoints, sm)) {
        font-size: 11px;
      }

      @media only screen and (min-width: map-get($grid-breakpoints, md)) {
        font-size: 12px;
      }

      @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
        font-size: 13px;
      }
    }

    th {
      border: 1px solid #d1d1d1;
      padding: 5px !important;
      font-weight: 700;
      background-color: #eee;
    }

    td {
      border: 1px solid #d1d1d1;
      padding: 5px !important;
    }

    tr {
      border: 1px solid #d1d1d1;
    }

    tr:nth-child(odd) {
      background-color: #fff;
    }

    tr:nth-child(even) {
      background-color: #eee;
    }
  }
}
