.content-text {
  .wsp-container {
    padding-bottom: 50px;

    a {
      font-size: 17px;
      color: $color-secondary;
      transition: all .2s ease;
      text-decoration: none;

      &:hover {
        color: $color-primary;
      }
    }

    .wsp-pages-list,
    .wsp-blogs-list,
    .wsp-newss-list,
    .wsp-reports-list {
      .children {
        padding-left: 20px;
      }

      .page_item_has_children {
        & > a {
          font-weight: 700;
        }
      }

      .wsp-category-title {
        font-size: 17px;
        color: $color-secondary;
      }
    }

    .wsp-blog {
      padding-left: 20px;
    }

    .wsp-pages-title,
    .wsp-blogs-title,
    .wsp-newss-title,
    .wsp-reports-title {
      font-size: 24px;
      font-weight: 700;
    }
  }
}
