.submit-article-page {
  .content {
    border-bottom: none;
  }
}

.add-article {
  padding: 20px 0;
  margin-bottom: 50px;

  .login-warning {
    text-align: center;
    font-size: 20px;
  }

  .login-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .button {
      margin: 20px;
      padding: 15px 40px;
      background-color: $color-secondary;
      color: $white;
      font-size: 20px;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      color: $white;

      i {
        padding-right: 10px;
        font-size: 24px;
      }
    }
  }

  #add_article_from {
    input[type="text"],
    textarea {
      width: 100%;
      padding: 15px 8px;
      background-color: #ffffff;
      border: 1px solid $color-light-grey;
      font-size: 14px;
      font-weight: 400;
      color: $color-grey;
      margin-bottom: 10px;

      &::-webkit-input-placeholder {
        color: $color-grey;
      }

      &:-moz-placeholder {
        color: $color-grey;
        opacity: 1;
      }

      &::-moz-placeholder {
        color: $color-grey;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: $color-grey;
      }

      &:focus::-webkit-input-placeholder {
        color: transparent;
      }

      &:focus::-moz-placeholder {
        color: transparent;
      }

      &:focus:-ms-input-placeholder {
        color: transparent;
      }

      &.error {
        border: 1px solid $color-error;
      }
    }

    input[type="text"] {
      height: 60px;
      font-weight: 700;
      font-size: 18px;
    }

    textarea {
      height: 100px;

      @include media-breakpoint-up(xl) {
        height: 167px;
      }

      @include media-breakpoint-up(xxl) {
        height: 200px;
      }
    }

    .thumbnail-requirements {
      padding-top: 20px;
      padding-bottom: 10px;
      display: block;
      font-size: 11px;
      color: $color-grey-light;

      &.error {
        color: $color-error;
      }
    }

    .wp-editor-wrap.error {
      border: 1px solid $color-error;
    }

    .add-thumbnail-button {
      display: inline-block;
      padding: 15px 35px;
      margin-bottom: 15px;
      text-decoration: none;
      background-color: $color-white;
      color: $color-grey;
      font: 300 $font-size-small $font-family-title;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      border: 1px solid $color-primary;
      cursor: pointer;
      transition: all .2s ease;

      &:hover {
        background-color: $color-primary;
        color: $color-white;
      }
    }

    .warning {
      margin-top: 20px;
      margin-bottom: 10px;
      font-style: italic;
      color: $color-grey-light;
      font-weight: 700;
    }

    .accept-terms-checkbox {
      margin-top: 10px;
      margin-bottom: 10px;
      font-style: italic;
      font-size: 18px;
      font-weight: 300;
    }

    .submit {
      display: inline-block;
      padding: 15px 35px;
      text-decoration: none;
      background-color: $color-primary;
      color: $color-white;
      font: 700 $font-size-small $font-family-title;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      border: 1px solid $color-primary;
      cursor: pointer;
      transition: all .2s ease;

      &:hover {
        background-color: $color-white;
        color: $color-primary;
      }

      &:focus {
        outline: none;
      }

      &[disabled] {
        background-color: rgba($color-grey-light,.07);
        color: rgba($color-grey-light,.4);
        border-color: rgba($color-grey-light,.4);
        cursor: not-allowed;
      }
    }
  }

  .article-send-success {
    text-align: center;
    padding: 0 0 40px 0;

    .icon-success {
      display: inline-block;
      margin-bottom: 20px;
      font-size: 60px;
      color: $color-success;
    }

    .text {
      font-size: 20px;
      font-weight: 700;
      color: $color-success;
      margin-bottom: 0;
    }
  }

  .article-send-error {
    text-align: center;
    padding: 0 0 40px 0;

    .icon-error {
      display: inline-block;
      margin-bottom: 20px;
      font-size: 60px;
      color: $color-error;
    }

    .text {
      font-size: 20px;
      font-weight: 700;
      color: $color-error;
      margin-bottom: 0;
    }
  }
}