.wp-header {
  .vb-hero {
    height: 200px;
    background-size: cover;
    background-position: 50% 30%;
    background-color: lighten($color-secondary,30%);
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-logo {
      display: block;
      width: 80%;

      @include media-breakpoint-up(md) {
        width: 500px;
      }
    }
  }

  nav {
    position: relative;
    background-color: $color-secondary;
    color: $color-white;
    padding: 0 20px;

    .vb-container {
      min-width: 280px;
      max-width: 1200px;
      margin: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @include media-breakpoint-up(lg) {
        justify-content: center;
      }
    }

    .btn-menu {
      cursor: pointer;
      width: 18px;
      height: 18px;
      font-size: 18px;
      display: block;
      margin: 20px 0;

      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }

  .menu-header-menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 4;
    background-color: $color-secondary;

    @include media-breakpoint-up(lg) {
      display: block;
      position: static;
      width: auto;
    }

    &.active {
      display: block;
    }
  }

  .navbar-nav {
    margin-bottom: 0;
    padding: 15px 20px;
    font-size: 300 $font-size-small $font-family-base;
    text-transform: capitalize;
    width: 100%;

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-wrap: wrap;
      width: auto;
      padding: 0;
    }

    .menu-item {
      margin-bottom: 10px;

      a {
        color: inherit;
      }

      @include media-breakpoint-up(lg) {
        margin: 0;
        padding: 20px 20px 20px 0;
        font-size: 13px;
      }

      @include media-breakpoint-up(xl) {
        padding: 20px 20px 20px 0;
        font-size: 15px;
      }
    }

    .dropdown {
      position: relative;

      .sub-menu {
        padding: 5px 0 5px 20px;
        width: 100%;
        background-color: $color-secondary;

        @include media-breakpoint-up(lg) {
          display: none;
          position: absolute;
          top: 100%;
          min-width: 200px;
          padding: 5px 10px;
        }

        .menu-item {
          font-weight: 400;
          padding: 5px 0;
          margin: 0;

          &.current-menu-item {
            font-weight: 700;
          }
        }
      }

      &:hover {
        .sub-menu {
          @include media-breakpoint-up(lg) {
            display: block;
          }
        }
      }
    }
  }
}