.wp-footer {
  margin-top: 10px;
  padding: 30px 20px;
  background-color: $color-secondary;
  color: $color-white;

  .vb-container {
    min-width: 280px;
    max-width: 1200px;
    margin: auto;
  }

  .top-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .navbar-nav {
    margin: 0;

    li {
      display: inline-block;
      font: 300 12px $font-family-base;
      letter-spacing: 1.2px;

      &:after {
        content: "|";
        margin: 0 5px;
      }
      &:last-child {
        &:after {
          content: "";
        }
      }
    }

    a {
      color: $color-white;
    }
  }

  .logo {
    display: inline-block;
    color: $color-white;
    font: $font-size-small $font-family-title;
    text-transform: uppercase;
    letter-spacing: 1.4px;
  }

  .copyright {
    color: #dddddd;
    font: 300 11px $font-family-base;
    letter-spacing: 1.1px;
  }
}