.video-list {
  list-style-type: none;

  .item {
    .youtube-image-container {
      display: block;
      margin-top: 0;
      margin-bottom: 30px;
      position: relative;
      padding-bottom: 55%; /* 16:9 */
      height: 0;
      overflow: hidden;

      img {
        position: absolute;
        top: -17.8%;
        left: 0;
        width: 100%;
        height: auto;
      }
    }
  }
}

.video-wrap {
   margin-bottom: 40px;
   position: relative;
   padding-bottom: 55%; /* 16:9 */
   height: 0;
   overflow: hidden;
   iframe {
     display: block;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
   }
 }